/*general styling*/
.heading {
    background-color: lightgrey;
    font-family: 'Crimson Text', serif;
    font-size: 72px;

}

.h1 {
    font-family: 'Crimson Text', serif;
}

.h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.submitbtn {
background: #016ABC;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
text-shadow:none;

}

.submitbtn:hover {

background: rgb(92, 141, 180);
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
text-shadow:none;

}


@media screen and (max-width:959px){

}
















/*home page styling*/

.homepg {
    background-image: url(../images/welcomePageBg.jpg);
    background-color: lightgoldenrodyellow;
    background-size: repeat;
}

.hpg-content {
    text-align: center;
    background-color: white;
    vertical-align: middle;
   
}


/*question page styling*/
.questionpg {
    background-image: url(../images/questionsBg.jpg);
    background-color: lightgray;
    background-size: repeat;
}





/*result page styling*/
.resultspg {
    background-image: url(../images/resultsPageBg.jpg);
    background-color: lightskyblue;
    background-size: repeat;
}
