/*general styling*/
.heading {
    color: cornsilk;
    font-family: 'Trade Winds', cursive;
    font-size: 68px;
    height: auto;

}

.h1 {
    color: cornsilk;
    font-family: 'Trade Winds', cursive;
}

.h2, h3, h4, h5, h6 {
    color: lightskyblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.img {
    align-content: center;
}


.submitbtn {
background: #016ABC;
color: lightgoldenrodyellow;
border: 1px solid lightgoldenrodyellow;
border-radius: 20px;
text-shadow:none;
width: 250px;  
height: 50px;

}

.submitbtn:hover {

background: rgb(92, 141, 180);
color: lightgoldenrodyellow;
border: 1px solid lightgoldenrodyellow;
border-radius: 20px;
text-shadow:none;

}

.button {
    text-align: center;
    border-radius: 15px;
}

.navbar-brand:hover {
    background-color: grey;
    border: none;
    color: lightgoldenrodyellow;
    padding: 16px 8px;
    font-size: 24px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 15px;
  }



.hpg-content {
    text-align: center;
    background-color: grey;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
   
}




/*home page styling*/

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.homepg {
    background-image: url(../images/welcomePageBg.jpg);
    background-color: lightgoldenrodyellow;
    background-size: repeat;
    align-items: center;
}


.hpg-center {

    text-align: center;
    background-position: center;
    
}

.wp-input {
    background-color: grey;
    vertical-align:middle;
    margin-left:auto;
    text-align:center;
    font-weight: bolder;
    font-size: 24px;
    color: rgb(103, 197, 235);
    border: 1px solid grey;
    border-radius: 15px;
}



.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{     color: lightblue;    }
    49%{    color: lightblue; }
    60%{    color: transparent; }
    89%{    color:transparent;  }
    100%{   color: lightblue; }
}


.crests {
    background-color: grey;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width: 250px;
    height: auto;
    border: 1px solid grey;
    border-radius: 15px;
}

input[type="radio"] + img {
    display: none;
}
input[type="radio"] + img :checked + label {
    border: 3px solid lightblue;
}

form input[type="radio"] {
    margin-right: 10px;
}


/*question page styling*/
.questionpg {
    background-image: url(../images/questionsBg.jpg);
    background-color: lightgray;
    background-size: repeat;
}

.Questions {
    background-color:grey ;
    font-family: 'Trade Winds', cursive;
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 36px;
    width: 420px;
    height: auto;
    border: 2px solid rgb(70, 69, 69);
    border-radius: 15px;
    

}

.Options {
    text-align: center;
    background-color: rgb(173, 173, 173);
    font-size: 30px;
    width: 420px;
    height: auto;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 15px;
    margin: 2px;
}


.container {
    height: auto;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    
}





/*result page styling*/
.resultspg {
    background-image: url(../images/resultsPageBg.jpg);
    background-color: lightskyblue;
    background-size: repeat;
}
